# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Secrets
.env
backend/.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
